.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #2a2b2d; /* Um pouco mais claro que o fundo */
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}